* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff9f7;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}


input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}


table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;

}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: black;
  color: white;
}

@media (max-width: 600px) {
  .main-content {
    padding: 10px;
    max-width: 100%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    padding-left: 50%;
    position: relative;
  }

  td::before {
    position: absolute;
    top: 0;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    content: attr(data-label);
  }
}
